@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Syne');

html {
    scroll-behavior: smooth;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.select-none {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
}

input[type="search"]::-webkit-search-cancel-button {

    background: #000;
}

.syne-font {
    font-family: "Syne", sans-serif;
}

.search_input {
    border-bottom: 1px solid #757575;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    outline: none;
}

.search_input:focus {
    outline: none;
    border-bottom: 1px solid #757575;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border: none;
}

.custom-border {
    border-bottom: 2px solid #cbd5e0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.brand_avatars {
    background: rgba(128, 128, 128, 0.128);
    box-shadow: 0 1px 5px rgb(118, 118, 118);
    border-radius: 50%;
    width: 70px;
    font-size: 2em;
    height: 70px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand_avatars:hover {
    box-shadow: 0 1px 5px rgb(0, 164, 193);
    cursor: pointer;

}

.view_more {
    text-decoration: underline;
    color: rgb(52, 52, 52);
    display: flex;
    align-items: center;
    gap: 2px;

}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: black rgb(248, 248, 248);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

@keyframes slideIn {
    from {
        transform: translateY(-80%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease forwards;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-anchor: none;

    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: flex-end;
    align-items: center;
    z-index: 99;
}

.cart {
    background-color: white;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 433px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.cart-items {
    overflow-y: scroll;
    max-height: 60%;
    padding: 20px;

}

.cart-items::-webkit-scrollbar {
    display: none;
}
.cart-bottombar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
/* .circle{
    z-index: 100;
} */

/* styles.css */

.products-custom-scroll {
    overflow-x: auto;
    scrollbar-width: thin; /* For modern browsers */
    scrollbar-color: gray transparent; /* For modern browsers */
  }
  
  /* For Safari */
  .products-custom-scroll::-webkit-scrollbar {
    width: 6px;
  }
  
  .products-custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .products-custom-scroll::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 3px; /* Add border-radius */
  }
  
  